# ignore notebooks
__pycache__/
*.pyc
*.pt

.ipynb_checkpoints/

*.ipynb
!notebook.ipynb
!results.ipynb

.vscode/
.DS_Store

*.log
*.tmp

train.cache
train.slurm

ultralytics+ultralytics.sqsh
ultralytics+ultralytics+latest.sqsh

valid.cache
yolo26n.pt
yolov8n.pt
yolov8s.pt

train/
valid/
runs/
pruned_models/
logs/
kitti/
errors/

datasets/coco8/